#timer-container {
  border-style:none;
  background-color: hsla(197, 5%, 74%, 0.371);
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: flex-start; 
  margin-left: 20%;
  margin-right: 20%;
  padding: 10% ;
}

.btns{
   
}

