* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  display: flex;
  text-align:left;
  padding: 20px 0 0 7rem;
  font-size: 50px;
  color: white;
  gap: 5px;
}

h3 {
  margin: 0;
  font-size: 50px;
  color: white;
}

#timer {
  color: white;
  font-size: 8.5rem;
  font-family: "Saira Stencil One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#container {
  padding: 100px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

#timer-container {
  border-style:none;
  border-radius: 10px;
  background-color: hsla(197, 5%, 74%, 0.371);
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  gap: 10px;
}

#btns {
    display: flex;          /* Arrange buttons in a row */
    justify-content: center; /* Center buttons horizontally */
    gap: 10px;               /* Space between buttons */
    margin-bottom: 20px; 
    border: none;
    padding:20px 0 0;
    margin: 10px;
}

#bottom-btns {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px; 
  border: none;
  padding: 0 0 20px;
  margin: 10px;
}

.btn {
  border: none;
  background-color: inherit;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  color: white;
  font-family: "Comfortaa", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 20px;
}

#bottom-btns {
  gap: 25px;
}

.b-btn {
  background-color: rgb(238, 237, 237);
  color: black;
  font-size: 20px;
  height: 40px;
  border: none;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0px 5px 0px rgb(195, 184, 184);
  transition: all 0.1s ease;
}

.b-btn:hover {
  background: #ffffff;
}

.b-btn:active {
  top: 5px;
  box-shadow: 0px 0px 0px rgb(195, 184, 184);
}